# gradle
.gradle/
build/
out/
classes/

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# fabric
run/

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# TACZ-Fabric
/remappedSrc/
/run-server/
/backup/
/libs/
